<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2 addPLus-right">Music
      <button mat-icon-button class="icon-button">
        <mat-icon></mat-icon>
      </button>
    </div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <div id="mat-elev-z8" class="mat-elevation-z8">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ song.title }}</mat-card-title>
              <mat-card-subtitle>{{ song.artist }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/img/Logo-Kredi-Mizik3.png" alt="Logo Kredi Mizik">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              </p> 
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
</div>