<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2 addPLus-right">Song 
      <button mat-icon-button class="icon-button" matTooltip="Add new song" (click)="openDialog('Add', { action: 'Add', event: 'Add' })">
        <mat-icon>add</mat-icon>
      </button>
    </div>
     
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute">
        <div id="mat-elev-z8" class="mat-elevation-z8" tabindex="0">
          <table mat-table [dataSource]="dataSource"
              class="table table-striped table-sm row-border hover">
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let element">{{ element.title }}</td>
            </ng-container>
            <ng-container matColumnDef="artist">
              <th mat-header-cell *matHeaderCellDef>Artist</th>
              <td mat-cell *matCellDef="let element">{{ element.artist }}</td>
            </ng-container>
            <ng-container matColumnDef="album">
                <th mat-header-cell *matHeaderCellDef>Album</th>
                <td mat-cell *matCellDef="let element">{{ (albumDetails | async) ?.[element.album] }}</td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element">{{ (categoryDetails | async) ?.[element.category] }}</td>
              </ng-container>
            <ng-container matColumnDef="releaseDate">
                <th mat-header-cell *matHeaderCellDef>Release Date</th>
                <td mat-cell *matCellDef="let element">{{ element.releaseDate | date}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <a [routerLink]="['show-song', {id:element.id}]">Show</a> |
                <a (click)="openDialog('Update', element)">Edit</a> |
                <a (click)="openDialog('Delete', element)">Delete</a>
              </td>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[10, 20, 30]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
  