<h1 mat-dialog-title>
    Entity :: <strong>{{ action }}</strong>
  </h1>
  <div mat-dialog-content>
    <div class="modal-content">
      <div *ngIf="action != 'Delete'; else deleteTemplate">
        <mat-form-field class="fiel-form" appearance="outline">
          <mat-label>Instrument name</mat-label>
          <input matInput [(ngModel)]="local_data.name"/>
        </mat-form-field>
      </div>
      <ng-template #deleteTemplate>
        <p class="confirmation-text">
          Are you sure you want to delete <b>{{ local_data.name }}</b
          >?
        </p>
      </ng-template>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button class="action-button" (click)="doAction()">
      {{ action }}
    </button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
      Cancel
    </button>
  </div>